
.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: rgb(128, 27, 27);
}

h1,
h2,
h3,
h4,
p{
    color: #cb9b51;
}
h1,
h2,
h3,
h4 {
    font-family: "Poiret One", sans-serif;
    font-weight: 1000;
}

.navbar{
  background: linear-gradient(135deg, #aa5a18 0%, #cb9b51 50%, #f6e27a 75%, #aa5a18 100%);
  border-width: 3px;
  border-color: black;
}


form{
    max-width: 600px;
}

.character-card {
    width: 180px;
    flex-shrink: 0;
    font-family: "Poiret One", sans-serif;
}
.character-card img {
    width: 180px;
    height: 220px;
    object-fit: cover;
}

header.div.div.img {
    max-width: 200px;
}

.episode_results {
    color: #cb9b51;
}

form div label {
    color: #cb9b51;
    font-family: "Poiret One", sans-serif;
    font-weight: 1000;
}

.btn-primary {
    color: rgb(128, 27, 27);
    background-color: #cb9b51;
    border-color: #cb9b51;
    font-family: "Poiret One", sans-serif;
    font-weight: 1000;
}
.btn-primary:hover {
    color: #cb9b51;
    background-color: rgb(128, 27, 27);
    border-color: #cb9b51;
    font-family: "Poiret One", sans-serif;
    font-weight: 1000;
}

.navbar .nav-link {
    font-family: "Poiret One", sans-serif;
}

.navbar .nav-link:hover {
    background-color: rgb(128, 27, 27);
    color: #cb9b51;
    font-family: "Poiret One", sans-serif;
}

.current_champion{
    background-color: #cb9b51;
    padding: 2rem;
}
.current_champion h2{
    color: rgb(128, 27, 27);
}

footer{
    background: linear-gradient(135deg, #aa5a18 0%, #cb9b51 50%, #f6e27a 75%, #aa5a18 100%);
    border-width: 3px;
    border-color: black;
}
footer div div div p{
    color: rgb(29, 28, 28);
    font-weight: bold;
    font-family: "Poiret One", sans-serif;
}

footer div div div a{
    font-weight: bold;
    color: rgb(128, 27, 27);
    display: inline-block;
    padding: 0.25rem 0.5rem;
    background-color: #cb9b51;
    border-radius: 8px;
    text-decoration: none;
}

@media (max-width: 512px){
  header div div a img{
    width: 300px;
  }    
}