
body{
    background-color: rgb(128, 27, 27);
}

h1,
h2,
h3,
h4,
p{
    color: white;
}

.navbar{
  background: linear-gradient(135deg, #aa5a18 0%, #cb9b51 50%, #f6e27a 75%, #aa5a18 100%);
  border-width: 3px;
  border-color: black;
}


form{
    max-width: 600px;
}

.character-card {
    width: 180px;
    flex-shrink: 0;
}
.character-card img {
    width: 180px;
    height: 220px;
    object-fit: cover;
}

header.div.div.img {
    max-width: 200px;
}