<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frasier</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container py-4">
            <div class="text-center">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='images/frasier-frasier-logo-brand-a-transparent.png') }}" alt="Frasier Logo" width="500">
                </a>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg border border-3 border-dark">
        <div class="container">
            <h1 class="navbar-brand d-lg-none fs-1 fw-bold">I'm listening...</h1>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainNav"
                aria-controls="mainNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="mainNav">
                <ul class="navbar-nav fs-2 gap-4">
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-light px-4 fw-bold " href="{{ url_for('home') }}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-light px-4 fw-bold " href="{{ url_for('about') }}">
                            About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-light px-4 fw-bold " href="{{ url_for('episodes_page') }}">
                            Episodes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-light px-4 fw-bold " href="{{ url_for('ranking') }}">
                            Character Ranking
                        </a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link btn btn-outline-light px-4 fw-bold" href="{{ url_for('contact') }}">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container my-5">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert flash_success text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div>
            {% block content %}
                <h1>Default content</h1>
            {% endblock %}
        </div>
    </main>
    <footer class="mt-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-12 col-md-11 text-center fs-2">
                    <p>"I don't know what to do with those tossed salads and scrambled eggs!"</p>
                    <p>"Good night, Seattle."</p>
                </div>
                <div class="footer_contact col-12 col-md-1 pb-4">
                    <a href="{{ url_for('contact') }}" class="border border-3 border-dark">Contact</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>