{% extends "base.html" %}

{% block content %}
<h1>Who's on line one?</h1>

<form action="/contact" method="POST" class="p-3" style="max-width: 600px;">
    <div class="mb-3">
        <label for="name">Name</label>
        <input name="name" id="name" class="form-control" value="{{ name }}">
    </div>
    <div class="mb-3">
        <label for="email">Email</label>
        <input email="email" id="email" class="form-control" value="{{ email }}">
    </div>
    <div class="mb-3">
        <label for="subject">Subject</label>
        <select name="subject" id="subject" class="form-control">
            <option value="">Choose a subject</option>
            <option>General</option>
            <option>Support</option>
            <option>Episode query</option>
            <option>Feedback</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="message">Message</label>
        <textarea name="message" id="message" class="form-control">{{ message }}</textarea>
    </div>
    {% if errors %}
    <ul class="text-danger">
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



{% endblock %}