{% extends "base.html" %}

{% block content %}
<h1>Welcome to the Fraiser episode log</h1>
<p>Frasier is a classic American sitcom that follows Dr. Frasier Crane, a witty and sophisticated psychiatrist who returns to his hometown of Seattle to host a radio advice show. The series explores his relationships with his eccentric family, friends, and colleagues, blending clever humor, misunderstandings, and heartfelt moments. At its core, Frasier is a comedy about family, friendship, love, and the often-absurd challenges of everyday life.</p>



{% endblock %}